<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>Input</th>
      <th>Top-1 Predicted Aircraft</th>
      <th>User Query</th>
      <th>LLM Response</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="sample_image_f22.jpg" alt="F-22 Image" width="100"></td>
      <td>F-22 Raptor</td>
      <td>What is the maximum speed of this aircraft?</td>
      <td>The F-22 Raptor has a top speed of approximately Mach 2.25 (around 2,414 km/h).</td>
    </tr>
    <tr>
      <td><img src="sample_image_an124.jpg" alt="An-124 Image" width="100"></td>
      <td>Antonov An-124</td>
      <td>How much cargo can it carry?</td>
      <td>The Antonov An-124 can carry a payload of up to 150 tons, making it one of the heaviest cargo aircraft.</td>
    </tr>
  </tbody>
</table>
